<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMaster | Home</title>
    <style>
        img{
            width: 200px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <form action="/taskcreate" method="post">
        <input type="text" name="task" id="task" placeholder="Qual a sua próxima tarefa">
        <input type="submit" value="Adicionar">
    </form>

    <ul>
        <% tasklist.forEach((element) => { %>
            <li>
                <%= element.dataValues.description %>
            </li>
        <% }) %>
    </ul>
        
    <img src=<%= img_profile %> alt="Profile Image">

</body>
</html>